<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- start: Meta -->
		<meta charset="utf-8">
		<title>网络部客户详细信息</title>
		<meta name="description" content="Bootstrap Metro Dashboard">
		<meta name="author" content="Dennis Ji">
		<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
		<!-- end: Meta -->

		<!-- start: Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- end: Mobile Specific -->

		<!-- start: CSS -->
		<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrapValidator.css" />
		<link href="css/htmleaf-demo.css" />
		<link href="css/bootstrap-datepicker3.css" />
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link id="base-style" href="css/style.css" rel="stylesheet">
		<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
		<!-- end: CSS -->

		<link rel="shortcut icon" href="img/favicon.ico">
	
		<!-- end: Favicon -->
		<style>
			.table th {
				text-align: center;
				vertical-align: middle;
				height: 38px;
				width: 15%;
				font-size: 16px;
			}
			
			.table td {
				text-align: center;
				vertical-align: middle;
				height: 38px;
				font-size: 16px;
				font-weight: 600;
			}
			
			#zuo {
				text-align: left;
			}
			
			.checkbox,
			.text {
				font-size: 15px;
				font-weight: 600;
			}
			
			.radio,
			.rad span {
				font-size: 15px;
				font-weight: 600;
			}
			li {
				list-style: none;			
				}
				
		#menuright{			   
				position: fixed;
			    top:200px;
				left: 50%;
				margin-left: 765px;			
				z-index: 999;
				width: 30px;				
				}
		#menuright ul li a {
			display: block;
			margin: 5px 0;
			font-size: 14px;
			font-weight: bold;
			color: #333;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-decoration: none;
			text-align: center;
		
		}
		#menuright ul li a:hover,
		#menuright ul li a.current{
			color: white;
			/*background: #0088bb;*/
			background: #578EBE;
	
		
		}
		</style>

	</head>

	<body ng-app="kehuxiangqing" ng-controller="kehuxiangqingcontroller">
		<!-- start: Header -->
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="index.html"><span style="font-size: 20px;">客户关系管理系统</span></a>

					<!-- start: Header Menu -->
					<div class="nav-no-collapse header-nav">
						<ul class="nav pull-right">

							<!-- start: 顶部右侧 -->
							<li class="dropdown">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="halflings-icon white user"></i><span class="userName"></span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-menu-title">
										<span>系统设置</span>
									</li>
									<li>
										<a href="#"><i class="halflings-icon user"></i>简介</a>
									</li>
									<li>
										<a href="login.html"><i class="halflings-icon off"></i> 退出</a>
									</li>
								</ul>
							</li>
							<!-- end: User Dropdown -->
						</ul>
					</div>
					<!-- end: Header Menu -->

				</div>
			</div>
		</div>
		<!-- start: Header -->

		<div class="container-fluid-full">
			<div class="row-fluid">

				<!-- 动态生成左侧导航条-->
				<div id="sidebar-left" class="span2">
					<div class="daohang nav-collapse sidebar-nav">

					</div>
				</div>

				<!-- end: Main Menu -->

				<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			<!--右侧定位导航-->
          <div id="menuright">
          	<ul>
          		<li onclick="javascript:document.getElementById('item1').scrollIntoView()"><a href="#item1" class="current">1</a></li>
          		<li onclick="javascript:document.getElementById('item2').scrollIntoView()"><a href="#item2">2</a></li>
          		<li onclick="javascript:document.getElementById('item3').scrollIntoView()"><a href="#item3">3</a></li>
          		
          	</ul>
          </div>
           
				<!----右侧主体内容---->
				<div id="content" class="span10">

					<ul class="breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="index.html">主页</a>
							<i class="icon-angle-right"></i>
						</li>
						<li>
							<a href="#">客户详细信息</a>
						</li>
					</ul>

					<div class="item row-fluid sortable" id="item1" name="item1">
						<div class="box span11">
							<div class="box-header">
								<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>用户工商信息</h2>
								<div class="box-icon">
									<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
									<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
								</div>
							</div>
							<div class="box-content">
								<!--table-striped table-condensed -->
								<table class="table table-bordered  table-striped table-hover" style="margin-top: 5px;width: 85%;margin: 0 auto;">

									<tbody>
										<tr>
											<th>用户名称</th>
											<td style="text-align: left;"><input type="text" id="companyname"></td>
											<th>用户信用代码</th>
											<td style="text-align: left;"><input type="text" id="creditcode"></td>
										</tr>
										<tr>
											<th>用户法人</th>
											<td style="text-align: left;"><input type="text" id="legalperson"></td>
											<th>法人联系方式</th>
											<td style="text-align: left;">
												<input type="text" id="legalphone">
											</td>
											<td style="text-align: left;">
											    <span style="color: red;display: none;font-size: 12px;" class="tx"></span>
											</td>

										</tr>
										<tr>
											<th class="center">股东信息</th>
											<td style="text-align: left;"><input type="text" id="stockmessage"></td>
											<th class="center">注册资金</th>
											<td style="text-align: left;"><input type="text" id="fund"></td>
										</tr>
										<tr>
											<th class="center">成立时间</th>
											<td style="text-align: left;">
												<input class="datepicker" type="text" id="settime" ng-model="time">
												<th class="center">用户类型</th>
												<td style="text-align: left;">
													<!-- ng-init="selectedName=typenames" ng-model="selectedName"-->
													<select id="companytype">
														<option　value="高新技术企业">高新技术企业</option>
														<option value="小巨人企业">小巨人企业</option>
														<option value="科技型中小企业">科技型中小企业</option>
														<option value="创新基金企业">创新基金企业</option>
														<option value="高新技术企业">高新技术企业</option>

													</select>

												</td>
										</tr>
										<tr>
											<th class="center">地<span style="padding-left:30px;">址</th>
											 	<td style="text-align: left;">
											 	<select id="cmbProvince" name="cmbProvince" style="width: 30%;"></select>  
				                       			 <select id="cmbCity" name="cmbCity" style="width: 30%;"></select>  
				                       			 <select id="cmbArea" name="cmbArea" style="width: 30%;"></select>  
				                       			 <!-- ng-init="namess"  ng-model="namess"-->
											 	
											 	</td>
										  	<th class="center">用户人数</th>
										  		<td style="text-align: left;"><input type="text" id="companynum"></td>
										</tr>
									  <tr>
									   <th class="center">联&nbsp;系&nbsp;人</th>
									  	<td style="text-align: left;"><input type="text" id="linkman"></td>
									  	<th class="center">联系方式</th>
									  	<td style="text-align: left;"><input type="text" id="contactway"></td>
									    <td style="text-align: left;">
										<span style="color: red;display: none;font-size: 12px;" class="tj"></span>
										</td>
									 </tr>
									 <tr>
											<th class="center">用户微信公众号</th>
											<td style="text-align: left;"><input type="text" id="weixin"></td>
											<th class="center">用户邮箱</th>
											<td style="text-align: left;"><input type="text" id="email"></td>
											<td style="text-align: left;">
											<span style="color: red;display: none;font-size: 12px;" class="yx"></span>
											</td>
										</tr>
										<tr>
											<th>主营范围</th>
											<td style="text-align: left;" colspan="3"><input type="text" id="product"></td>
										</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>


					<div class="item row-fluid sortable" id="item3" id="item3">
						<div class="box span11">
							<div class="box-header">
								<h2><i class="halflings-icon white align-justify"></i><span class="break"></span>科技创新情况</h2>
								<div class="box-icon">
									<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
									<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
								</div>
							</div>
							<div class="box-content">
								<table class="table table-bordered  table-hover" style="margin-top: 5px;width: 85%;margin: 0 auto;">
									<tbody>
									<tr>
										<th>中心服务项目</th>
										<td id="zuo" colspan="3">
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="declare" value="项目申报服务" name="centralserver">项目申报服务　
													<span style="padding-left:30px;">企业联系人:<input type="text" id="declareman"></span>
													<span style="padding-left:20px;"> 联系方式：<input type="text" id="declaretel" value="" style="width: 14%;"></span>							　
												</label>				
											</div>
				
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="property" value="知识产权申请"  name="centralserver">知识产权申请　
												    <span style="padding-left:30px;">企业联系人:<input type="text" id="propertyman"></span>
													<span style="padding-left:20px;"> 联系方式：<input type="text" id="propertytel" value="" style="width: 15%;" ></span>	 
												</label>
				
											</div>
				
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="standardconsult" value="标准化咨询"  name="centralserver">标准化咨询　
												     <span style="padding-left:45px;">企业联系人:<input type="text" id="consultman"></span>
													 <span style="padding-left:20px;"> 联系方式：<input type="text" id="consulttel" value="" style="width: 15%;"></span> 	
												</label>
				
											</div>
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="trainserve" value="培训服务"  name="centralserver">培训服务　
												    <span style="padding-left:60px;">企业联系人:<input type="text" id="trainserveman"></span>
													<span style="padding-left:20px;"> 联系方式：<input type="text" id="trainservetel" value="" style="width: 15%;"></span>
													 	
												</label>
				
											</div>
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="erp" value="企业ERP" name="centralserver">企业ERP
													<span style="padding-left:80px;">企业联系人:<input type="text" id="erpman"></span>　
												    <span style="padding-left:0px;"> 联系方式：<input type="text" id="erptel" value="" style="width: 15%;"></span>
														
												</label>
				
											</div>
				
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="monitor" value="安防监控" name="centralserver">安防监控　
													<span style="padding-left:60px;">企业联系人:<input type="text" id="monitorman">
												    <span style="padding-left:20px;">联系方式：<input type="text" id="monitortel" value="" style="width: 15%;">
													 
												</label>
											</div>
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="webserve" value="网站建设服务" name="centralserver">网站建设服务　
													 <span style="padding-left:30px;">企业联系人:<input type="text" id="webserveman"></span>
													 <span style="padding-left:20px;"> 联系方式：<input type="text" id="webservetel" value="" style="width: 15%;"></span>												    
												</label>
				
											</div>
				
											<div class="controls">
												<label class="checkbox inline">
													<input type="checkbox" id="machineserve" value="机房服务" name="centralserver">机房服务　
													<span style="padding-left:60px;">企业联系人:<input type="text" id="machineserveman"></span>
													<span style="padding-left:20px;">联系方式：<input type="text" id="machineservetel" value="" style="width: 15%;"></span>										
												</label>
				
											</div>
											<div class="controls">
												<label class="checkbox inline">
								                  <span style="color: red;display: none;font-size: 12px;" class="fw"></span>								
												</label>				
											</div>				
										</td>				
									</tr>
							</tbody>
							</table>
		
						</div>
					</div>
				</div>

						<div class="form-actions">
							<center>
							<button type="submit" class="editxq btn btn-primary">修改</button>
				
							</center>
						</div>
				
						<span style="color: red;display: none;" class="ts"></span></div>
						</div>

						</div>
						</div>

				
						<div class="clearfix"></div>

					<footer style="z-index: 999;">
						<p>
							<span style="text-align:left;float:left;z-index: 999;">&copy; 2017 <a href="http://www.lfshitong.com/" style="color: white;">廊坊开发区世通科技有限公司</a></span>
					
						</p>
					
					</footer>

		<!-- start: JavaScript-->

		<script src="js/jquery-2.1.3.min.js"></script>
		<script src="js/hbAddress.js"></script>
		<script src="js/scroll.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/angularjs/angular-1.5.8.min.js"></script>
		<script src="js/bootstrapValidator.js"></script>
		<script src="js/dist/bootstrap-datepicker.min.js" charset="UTF-8"></script>
		<script src="js/dist/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
	    <script type="text/javascript">
			$(function() {
				$('.datepicker').datepicker({
					language: "zh-CN",
					//              format: "yyyy-mm-dd"
					dateFormat: "yy-mm-dd"

				});
			})
		</script>
		<script type="text/javascript" charset="utf-8" src="js/angularjs/common.js"></script>
		<script type="text/javascript" charset="utf-8" src="js/pagejs/configs.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angularjs/jquery-cookie.js"></script>
		<script src="js/pagejs/ifLogin.js"></script>
		<script src="js/pagejs/daohang.js"></script>
		<script src="js/pagejs/kehuxiangqing.js"></script>
		<script src="js/jquery-migrate-1.0.0.min.js"></script>

		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>

		<script src="js/jquery.ui.touch-punch.js"></script>

		<script src="js/modernizr.js"></script>

		<script src="js/jquery.cookie.js"></script>

		<script src='js/fullcalendar.min.js'></script>

		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
		<script src="js/jquery.flot.js"></script>
		<script src="js/jquery.flot.pie.js"></script>
		<script src="js/jquery.flot.stack.js"></script>
		<script src="js/jquery.flot.resize.min.js"></script>

		<script src="js/jquery.chosen.min.js"></script>

		<script src="js/jquery.uniform.min.js"></script>

		<script src="js/jquery.cleditor.min.js"></script>

		<script src="js/jquery.noty.js"></script>

		<script src="js/jquery.elfinder.min.js"></script>

		<script src="js/jquery.raty.min.js"></script>

		<script src="js/jquery.iphone.toggle.js"></script>

		<script src="js/jquery.uploadify-3.1.min.js"></script>

		<script src="js/jquery.gritter.min.js"></script>

		<script src="js/jquery.imagesloaded.js"></script>

		<script src="js/jquery.masonry.min.js"></script>

		<script src="js/jquery.knob.modified.js"></script>

		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/counter.js"></script>

		<script src="js/retina.js"></script>

		<script src="js/custom.js"></script>
		<!-- end: JavaScript-->
		<script type="text/javascript">
			addressInit('cmbProvince', 'cmbCity', 'cmbArea');
		</script>
		
	</body>

</html>